{% extends 'base.html' %}
{% block content%}
    <!-- Header End here -->

    <!-- Hero Scetion Start-->
    <section id="page-header" class="blog-header">
        <h2>#Read More</h2>
        <p>Read all case study of our Product!</p>
    </section>
    <!-- Hero Scetion End-->

    <!-- Blog Page start-->
    <section id="blog">
        <!--Page 1 start here-->
            <div class="blog-box">
                <div class="blog-img">
                    <img src="/static/images/blog/b1.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>The Cotton-Jearsy Zip-Up Hoodies</h4>
                    <p>KickStarter man braid godard coloring book. Raclette waistcoat selfies yrwolf chartreuse hexagon irony, godard...</p>
                    <a href="#">CONTINUING READING</a>
                </div>
                <h1>13/01</h1>
            </div>
        <!--Page 1 end here-->
                <!--Page 2 start here-->
    
            <div class="blog-box">
                <div class="blog-img">
                    <img src="/static/images/blog/b2.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>The Cotton-Jearsy Zip-Up Hoodies</h4>
                    <p>KickStarter man braid godard coloring book. Raclette waistcoat selfies yrwolf chartreuse hexagon irony, godard...</p>
                    <a href="#">CONTINUING READING</a>
                </div>
                <h1>13/01</h1>
            </div>
        <!--Page 2 end here-->
        <!--Page 3 start here-->
            <div class="blog-box">
                <div class="blog-img">
                    <img src="/static/images/blog/b3.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>The Cotton-Jearsy Zip-Up Hoodies</h4>
                    <p>KickStarter man braid godard coloring book. Raclette waistcoat selfies yrwolf chartreuse hexagon irony, godard...</p>
                    <a href="#">CONTINUING READING</a>
                </div>
                <h1>13/01</h1>
            </div>
        <!--Page 3 end here-->
        <!--Page 4 start here-->
            <div class="blog-box">
                <div class="blog-img">
                    <img src="/static/images/blog/b4.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>The Cotton-Jearsy Zip-Up Hoodies</h4>
                    <p>KickStarter man braid godard coloring book. Raclette waistcoat selfies yrwolf chartreuse hexagon irony, godard...</p>
                    <a href="#">CONTINUING READING</a>
                </div>
                <h1>13/01</h1>
            </div>
        <!--Page 4 end here-->
        <!--Page 5 start here-->
            <div class="blog-box">
                <div class="blog-img">
                    <img src="/static/images/blog/b6.jpg" alt="">
                </div>
                <div class="blog-details">
                    <h4>The Cotton-Jearsy Zip-Up Hoodies</h4>
                    <p>KickStarter man braid godard coloring book. Raclette waistcoat selfies yrwolf chartreuse hexagon irony, godard...</p>
                    <a href="#">CONTINUING READING</a>
                </div>
                <h1>13/01</h1>
            </div>
        <!--Page 5 end here-->
    
        </section>

    <!-- Blog Page End-->

    <!-- Paginantion Start here -->
    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa fa-long-arrow-alt-right"></i></a>
    </section>
    <!-- Paginantion Start here -->


    <!-- News Letters Start-->
    {% comment %} {% include "newsletter.html" %}
    {% include "footer.html" %} {% endcomment %}
    <!-- Footer End-->

    <script src="/static/script.js"></script>
</body>

</html>
{% endblock %}