{% extends 'base.html' %}
{% block content%}
    <!-- Header End here -->

    <!-- Hero Scetion Start-->
    <section id="page-header" class="about-header">
        <h2>#Let's_Talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>
    <!-- Hero Scetion End-->

    <!-- Contatc detail start here  -->
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>visit one of our agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa fa-map"></i>
                    <p> Tugalpur(Shubham Medical Store), Greater Noida </p>
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <p>contact: SuryaPratap2542@gmail.com</p>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <p> Contact:78870705xx </p>
                </li>
                <li>
                    <i class="fa fa-clock"></i>
                    <p> Monday to Saturday: 9:00am to 16:00pm</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.4656814023815!2d77.50093201461206!3d28.465519182484073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cc1d82771485d%3A0x166c328a604cd903!2sTugalpur%20Main%20Market%20Rd%2C%20Tugalpur%2C%20Greater%20Noida%2C%20Uttar%20Pradesh%20201310!5e0!3m2!1sen!2sin!4v1662063144810!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <!-- Contatc detail end here  -->

    <!-- Form details Start Here  -->
    
    <section id="form-details" class="section-p1">


        {% comment %} <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submint</button>
        </form> {% endcomment %}
         {% comment %} hello: {{output}} {% endcomment %}
        <form action="" method="post" >
            {% csrf_token %}
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" name="num1" value="{{n1}}" placeholder="Your Name">
            <input type="text" name="num2" value="{{n2}}" placeholder="E-mail">
            <input type="text" name="num3" value="{{n3}}" placeholder="Subject">
            <textarea type="text" name="num4" value="{{n4}}"  id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submint</button>
        </form>

        <div class="people">
            <div>
                <img src="/static/images/people/1.png" alt="">
                <p><span>John doe</span>Senior Marketing Manager <br> Phone:+ 000 1234... <br> E-mail: xyz@gmail.com</p>
            </div>
            <div>
                <img src="/static/images/people/2.png" alt="">
                <p><span>William Smith</span>Senior Marketing Manager <br> Phone:+ 000 1234... <br> E-mail: xyz@gmail.com</p>
            </div>
            <div>
                <img src="/static/images/people/3.png" alt="">
                <p><span>Emma stone</span>Senior Marketing Manager <br> Phone:+ 000 1234... <br> E-mail: xyz@gmail.com</p>
            </div>
        </div>
    </section>
    <!-- Form details end Here  -->

    <!-- News Letters Start-->
    {% comment %} {% include "newsletter.html" %}
    {% include "footer.html" %} {% endcomment %}
    <!-- Footer End-->

    <script src="/static/script.js"></script>
</body>

</html>
{% endblock %}