 <!-- Footer Start-->
 <footer class="section-p1 section-m1">
    <div class="col">
        <img src="/static/images/logod.jpg" width="70" height="60" class="logo" alt="">
        <h4>Contact</h4>
        <p><strong>Address: </strong> Tugalpur,Greater Noida, Gautam budh Nagar, 201310</p>
        <p><strong>Phone: </strong>+91 7887070588</p>
        <p><strong>Hours: </strong>10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <a href="https://www.linkedin.com/in/surya-pratap-singh-98a37b21b/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100029290171764"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/suryapratp788"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/suryapratap6473/"><i class="fab fa-instagram"></i></a>   
                <a href="https://youtube.com/c/DreamPoint"><i class="fab fa-youtube"></i></a>
                <a href="https://github.com/SuryaPratap2542"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Term & Condition</a>
        <a href="#">Conatact Us</a>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">My Account</a>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">Track my Order</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google</p>
        <div class="row">
            <img src="/static/images/pay/app.jpg" alt="">
            <img src="/static/images/pay/play.jpg" alt="">
        </div>
        <p>Secured Payment</p>
        <img src="/static/images/pay/pay.png" alt="">
    </div>
    <div class="copyright">
        <p>@2021 DreamPoint-HTML CSS Eccomerce Templates</p>
    </div>
</footer>
<!-- Footer End-->