{% extends 'base.html' %}
{% block content%}
{% load static %}

<!--This is another way to Connect static file -->
{% comment %} {% include "header.html" %} {% endcomment %}
    <!-- Header End here -->
    <!-- Product Details -->
    <section id="prodeatils" class="section-p1">
        <div class="single-pro-image">
            <img src="/static/images/products/f1.jpg" width="100%" id="MainImg" alt="">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="/static/images/products/f1.jpg" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/static/images/products/f2.jpg" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/static/images/products/f3.jpg" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/static/images/products/f4.jpg" width="100%" class="small-img" alt="">
                </div>
            </div>
        </div>
        <div class="single-pro-details">
            <h6>Home / T-shirt</h6>
            <h4>Men's Fashion T Shirt </h4>
            <h2>$139.00</h2>
            <select>
                <option>Select Size</option>
                <option>XL</option>
                <option>XML</option>
                <option>Small</option>
                <option>Large</option>
            </select>
            <input type="number" value="1">
            <button class="normal">Add to Cart</button>
            <h4>Product Details</h4>
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate iusto harum cum assumenda non
                similique quis beatae recusandae, pariatur voluptatum. Officiis amet repellat incidunt ratione?
                Doloribus quidem ab tenetur odit ut minus, sint assumenda necessitatibus vitae est impedit suscipit
                nostrum quaerat similique? Numquam cumque sequi vitae repellendus consequuntur voluptates
                ipsam?</span>
        </div>
    </section>
    <!-- Product2 Start-->
    <section id="product1" class="section-p1">
        <h2>Featured Product</h2>
        <p>Summer Collection New Modern Desigen</p>
        <div class="pro-container">
            <div class="pro">
                <img src="{%static 'images/products/n1.jpg' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$98</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="/static/images/products/n2.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$71</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="/static/images/products/n3.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$98</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="/static/images/products/n4.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$55</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
        </div>
    </section>
    <!-- Product2 End-->
    <!-- Product Details -->

    <!-- News Letters Start-->
    {% comment %} {% include "newsletter.html" %}
    {% include "footer.html" %} {% endcomment %}
    <!-- Footer End-->
    <!-- Some Java Script code -->
    <script>
            var MainImg = document.getElementById("MainImg");
            var smallimg=document.getElementsByClassName("small-img");

            // If any one click on small img it will convret in large
            smallimg[0].onclick=function(){
                MainImg.src=smallimg[0].src;
            }
            smallimg[1].onclick=function(){
                MainImg.src=smallimg[1].src;
            }
            smallimg[2].onclick=function(){
                MainImg.src=smallimg[2].src;
            }
            smallimg[3].onclick=function(){
                MainImg.src=smallimg[3].src;
            }
    </script>

    <script src="/static/script.js"></script>
</body>

</html>
{% endblock %}