{% extends 'base.html' %}
{% block content%}
    <!-- Header End here -->

    <!-- Hero Scetion Start-->
    <section id="page-header" class="about-header">
        <h2>#Let's_Talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>
    <!-- Hero Scetion End-->


    <!-- Form details Start Here  -->
    <section id="form-details" class="section-p1">
        <form action="" method="post">
            {% csrf_token %}
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" name="num1" value="{{n1}}" placeholder="Your Name">
            <input type="text" name="num2" value="{{n2}}" placeholder="E-mail">
            <input type="text" name="num3" value="{{n3}}" placeholder="Subject">
            <textarea type="text" name="num4" value="{{n4}}"  id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submint</button>
        </form>
        <div class="people">
            <div>
                <img src="/static/images/people/1.png" alt="">
                <p><span>John doe</span>Senior Marketing Manager <br> Phone:+ 000 1234... <br> E-mail: xyz@gmail.com</p>
            </div>
            <div>
                <img src="/static/images/people/2.png" alt="">
                <p><span>William Smith</span>Senior Marketing Manager <br> Phone:+ 000 1234... <br> E-mail: xyz@gmail.com</p>
            </div>
            <div>
                <img src="/static/images/people/3.png" alt="">
                <p><span>Emma stone</span>Senior Marketing Manager <br> Phone:+ 000 1234... <br> E-mail: xyz@gmail.com</p>
            </div>
        </div>
    </section>
    <!-- Form details end Here  -->

    <!-- News Letters Start-->
    {% comment %} {% include "newsletter.html" %}
    {% include "footer.html" %} {% endcomment %}
    <!-- Footer End-->

    <script src="/static/script.js"></script>
</body>

</html>
{% endblock %}